<div class="col-md-6" style="border:1px solid black;">
    <div class="container p-4">
        <div class="row member-container-infor">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 p-2 member-header-container">
                        <div class="member-header">
                            <h2 id="name">Phạm Hoài Hưng</h2>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="member-img">
                            <div id="img-member" class="img"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="member-content">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="row opinion-target">
                                        <div class="col-md-8">
                                            <div class="opinion-title">
                                                <p id="opinion">
                                                    1/ What the fuck can you do
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 border-left">
                                            <div class="opinion-star">
                                                <button id="rating1"
                                                    class="btn mui-btn mui-btn--primary mui-btn--raised"
                                                    style="background:#1565c0 ">
                                                    Đánh giá
                                                </button>
                                                <div id="overlay1" class="overlay">
                                                    <div id="popup">
                                                        <form id="submit-form" action="#" method="POST">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="popup-header">
                                                                        <p>Đánh giá</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="popup-opinion">
                                                                        <p id="opinion">
                                                                            1/ Quá trình quá
                                                                            nguy hiểm
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 mb-3">
                                                                    <div class="stars">
                                                                        <input class="star star-5" id="star-5"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-5" for="star-5"></label>
                                                                        <input class="star star-4" id="star-4"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-4" for="star-4"></label>
                                                                        <input class="star star-3" id="star-3"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-3" for="star-3"></label>
                                                                        <input class="star star-2" id="star-2"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-2" for="star-2"></label>
                                                                        <input class="star star-1" id="star-1"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-1" for="star-1"></label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 mb-3">
                                                                    <input
                                                                        class="btn mui-btn mui-btn--primary mui-btn--raised"
                                                                        style="height:90px;border-radius:50%; background:#81d4fa"
                                                                        id="submit" type="submit" value="Xác nhận" />
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3 border-top border-bottom">
                                    <div class="row opinion-target">
                                        <div class="col-md-8">
                                            <div class="opinion-title">
                                                <p id="opinion">
                                                    2/ What the fuck can you do
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 border-left">
                                            <div class="opinion-button">
                                                <button id="rating2"
                                                    class="btn mui-btn mui-btn--primary mui-btn--raised"
                                                    style="background:#1565c0 ">
                                                    Đánh giá
                                                </button>
                                                <div id="overlay2" class="overlay">
                                                    <div id="popup">
                                                        <form id="submit-form2" action="#" method="POST">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="popup-header">
                                                                        <p>Đánh giá</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="popup-opinion">
                                                                        <p id="opinion">
                                                                            2/ Quá trình quá
                                                                            nguy hiểm
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 mb-3">
                                                                    <div class="stars">
                                                                        <input class="star star-5" id="star-11"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-5"
                                                                            for="star-11"></label>
                                                                        <input class="star star-4" id="star-9"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-4" for="star-9"></label>
                                                                        <input class="star star-3" id="star-8"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-3" for="star-8"></label>
                                                                        <input class="star star-2" id="star-7"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-2" for="star-7"></label>
                                                                        <input class="star star-1" id="star-6"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-1" for="star-6"></label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 mb-3">
                                                                    <input
                                                                        class="btn mui-btn mui-btn--primary mui-btn--raised"
                                                                        style="height:90px;border-radius:50%; background:#81d4fa"
                                                                        id="submit" type="submit" value="Xác nhận" />
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="row opinion-target">
                                        <div class="col-md-8">
                                            <div class="opinion-title">
                                                <p id="opinion">
                                                    3/ What the fuck can you do
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 border-left">
                                            <div class="opinion-star">
                                                <button id="rating3"
                                                    class="btn mui-btn mui-btn--primary mui-btn--raised"
                                                    style="background:#1565c0 ">
                                                    Đánh giá
                                                </button>
                                                <div id="overlay3" class="overlay">
                                                    <div id="popup">
                                                        <form id="submit-form3" action="#" method="POST">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="popup-header">
                                                                        <p>Đánh giá</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="popup-opinion">
                                                                        <p id="opinion">
                                                                            3/ Quá trình quá
                                                                            nguy hiểm
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 mb-3">
                                                                    <div class="stars">
                                                                        <input class="star star-5" id="star-16"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-5"
                                                                            for="star-16"></label>
                                                                        <input class="star star-4" id="star-15"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-4"
                                                                            for="star-15"></label>
                                                                        <input class="star star-3" id="star-14"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-3"
                                                                            for="star-14"></label>
                                                                        <input class="star star-2" id="star-13"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-2"
                                                                            for="star-13"></label>
                                                                        <input class="star star-1" id="star-12"
                                                                            type="radio" name="star" />
                                                                        <label class="star star-1"
                                                                            for="star-12"></label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 mb-3">
                                                                    <input
                                                                        class="btn mui-btn mui-btn--primary mui-btn--raised"
                                                                        style="height:90px;border-radius:50%; background:#fff176"
                                                                        id="submit" type="submit" value="Xác nhận" />
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>