.contain-navigation{
    height: 100px;
    width: 100%;
    background-image: url('/publish/images/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg');
    position: fixed;
    opacity: .8;
    background-size: cover;
}